html,
body {
    height: 100%;
}

#page {
    padding-top: 20px;
}

#footer {    
    text-align: center;
    font-size: 12px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.footer {
    height: 60px;
    /*height: 200px;*/
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
    margin-top: 20px;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

.errorMessage {
    color: #DC4F4F;
}

.table-access td {
    padding-left:10px;
    vertical-align: central;
}

.admin-icon-folder-open {
    background-image: url('/images/folder.png');
    background-repeat: no-repeat;
    width: 26px;
    height: 26px;    
    display: inline-block;
    vertical-align: text-top;
}

.link-dashed, .link-dashed:hover, .link-dashed:visited {
    text-decoration: none;
    border-bottom: 1px dashed;
}


body.modal-open {
    overflow: hidden;
    position:fixed;
    width: 100%;
}

.delete-row 
{
	color: #D50000;
	text-decoration: line-through;
}

.modal-dialog-super-large {
    width: 90%;
}