/*
Стили новостей 
*/
/* 
    Created on : 14.10.2019, 12:00:16
    Author     : toatall
*/

.left-panel .panel-default { border-bottom-left-radius:7px; border-bottom-right-radius:7px; border-bottom:2px #DDD solid; }
.panel-left-default { border-left: 2px #DD4B39 solid; }   
.left-panel .panel-default .panel-body { padding:0; margin:0; }
.left-panel .panel-default .panel-body .col-md-12 { margin:0; padding:0; }
.left-panel .panel-default .panel-body .thumbnail { border:none; margin:10px auto; padding:0; position:relative; }
.left-panel .panel:hover img { opacity:.8; }
.left-panel .panel-default .panel-body .icerik-bilgi { margin:30px; }
.icerik-bilgi .btn-primary { float:right; margin-bottom:30px; }
.icerik-bilgi h2 { margin-bottom:30px; color:#333; }
.icerik-bilgi h2:hover { color:#E74C3C; text-decoration:none; }
.icerik-bilgi a:hover { text-decoration:none; }
.icerik-bilgi p { line-height:25px; font-size:14px;}
.icerik-bilgi .btn-group { float:left;}
.btn-group span { font-size:16px; }
.icon-group span { font-size:14px; }
.btn-group div { margin-bottom:10px; }
.btn-group .btn-facebook:hover{color:#3B5998;}
.btn-group .btn-twitter:hover{color:#55ACEE;}
.btn-group .btn-google:hover{color:#DD4B39;}
.vertical-align { display: flex; align-items: center; }

.news-container {
    margin: 15px 0 0 15px;
}


/* Comments */

.detailBox {   
    border:1px solid #bbb;
    margin:50px;
}
.titleBox {
    background-color:#fdfdfd;
    padding:10px;
}
.titleBox label{
  color:#444;
  margin:0;
  display:inline-block;
}

.commentBox {
    padding:10px;
    border-top:1px dotted #bbb;
}
.commentBox .form-group:first-child, .actionBox .form-group:first-child {
    width:80%;
}
.commentBox .form-group:nth-child(2), .actionBox .form-group:nth-child(2) {
    width:18%;
}
.actionBox .form-group * {
    width:100%;
}
.taskDescription {
    margin-top:10px 0;
}
.commentList {
    padding:0;
    list-style:none;    
    overflow:auto;
}
.commentList li {
    margin:0;
    margin-top:10px;
}
.commentList li > div {
    display:table-cell;
}
.commenterImage {
    width:30px;
    margin-right:5px;
    height:100%;
    float:left;
}
.commenterImage img {
    width:100%;
    border-radius:50%;
}
.commentText p {
    margin:0;
}
.sub-text {
    color:#aaa;
    font-family:verdana;
    font-size:11px;
}
.actionBox {
    border-top:1px dotted #bbb;
    padding:10px;
}